body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
/* Header */
.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat:no-repeat;
  background-size:cover;
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.header li {
  font-size: 18px;
  line-height: 38px;
  margin-left:-40px;
}
.header li a {
  color: white;
  text-decoration: underline;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
/* Sections */
#process {
  text-align: center;
}
#work {
  text-align: center;
}
#team {
  text-align: center;
}
#contact {
  text-align: center;
}
/* Small Banner */
.header h3 {
  color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Footer */
.footer p {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
  padding-left: 5px;
}
.footer a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  padding: 5px;
  line-height: 32px;
}
